---
---

@import "{{ site.theme }}";
.nav-item {
  display: inline-block;
  padding: 4px 16px;
  color: white;
}
.nav-bar {
  text-align: center;
  background: #8c4d68;
}
.page-header {
 background-image: linear-gradient(120deg, #5a1599, #991521) 
}
